* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.wing {
    animation: spin-around infinite .75s linear;
}

@keyframes spin-around {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}